.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: calc(100vh - 4rem);
    position: sticky;
    top: 4rem;
}